.navbar {
  margin: 0;
  padding: 0;
  background: url("../images/header.png");
  width: 100%;
  height: 698px;
}

.navbar.container {
  max-width: 100%;
}

.navbar-header {
  background-color: #3a3946;
}

.navbar-wrapper {
  margin: 38px auto;
  display: flex;
  box-shadow: 0 15px 26px -13px;
}

.navbar-collapse {
  background-color: white;

  .region-navigation-collapsible {
    margin-top: 26px;

    .contextual-region {
      .navbar-nav {
        margin-right: 40px;

        li {
          font-size: 12px;
          padding: 10px 0;

          a {
            padding: 10px 11px;
            margin: 0;
          }
        }
      }
    }
  }
}
.block-views-blocksocial-links-block-1 {
  .block-title {
    display: none;
  }
}
.navbar-text {
  margin-top: 0;
  font-size: 20px;
}

.header_block {
  display: flex;
  flex-direction: column;
  height: 109px;
  width: 227px;

  .navbar-brand {
    font-size: 36px;
    margin: auto;
    color: #6e9bc6;
    padding: 30px 0 0 0;
    height: auto;
  }

  .navbar-text {
    padding-bottom: 21px;
    color: #d9d9d9;
    margin: auto;
    font-size: 16px;
  }
}

.view-content {
  display: flex;
}

.social-media-links--platforms {
  display: flex;
}

.region-navigation-collapsible {
  display: flex;
}

header {
  display: flex;
  flex-direction: column;
}

.icon-only {
  border-radius: 0;
  background-color: white;
  border-color: #cecece;
}

.glyphicon-search {
  color: #cecece;
}

.form-search {
  border-radius: 0;
}
.form-type-search {
  margin: 0 15px;
  width: 200px;
}

.contextual-region {
  ul {
    li {
      text-transform: uppercase;
    }
  }
}

.social-links {
  .content {
    ul {
      li {
        margin: 10px 5px;
      }
    }
  }
}


.social-media-link-icon--facebook {
  background-color: #7498c8;
  color: white;
  display: block;
  width: 25px;
  height: 25px;

  .fa {
    padding: 2px 6px;
    font-size: 22px;
  }
}

.social-media-link-icon--twitter {
  background-color: #7498c8;
  color: white;
  display: block;
  width: 25px;
  height: 25px;

  .fa {
    padding: 2px 3px;
    font-size: 22px;
  }
}

.social-media-link-icon--linkedin {
  background-color: #7498c8;
  color: white;
  display: block;
  width: 25px;
  height: 25px;

  .fa {
    padding: 2px 3px;
    font-size: 22px;
  }
}
.big-title-header {
  text-transform: uppercase;
  font-size: 60px;
  color: white;
}

.dark-title-header {
  text-transform: uppercase;
  font-size: 37px;
  margin-top: -36px;
}

.small-title-header {
  text-transform: uppercase;
  color: #739ec7;
  margin-top: -15px;
}
.block-views-blocksocial-links-block-1 {
  display: flex;

  .form-group {
    margin: auto;
  }
}

.social-media-links--platforms {
  margin: auto;
}

.block-search-form-block {
  display: flex;

  form {
    margin: auto;
  }
}

.view-display-id-block_1 {
  display: flex;
  flex-direction: column;

  .view-content {
    margin: auto;
  }
}
.block-for-title-header {
  position: relative;
  left: 24%;
  top: 12%;
  width: 500px;
}
.navbar-nav {
  li {
    a {
      padding: 0;
      margin: 0 14px;

      &:hover:after {
        display: block;
        position: absolute;
        content: "";
        height: 5px;
        width: 100%;
        background-color: #7498c8;
        transform: translate(0, 38px);
        margin-left: -10px;
      }
    }
  }
}
