.block-views-blockprojects-block-1 {
  .block-title {
    margin-bottom: 21px;
    text-transform: uppercase;
    &:before, &:after {
      background-color: grey;
      content: '';
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 27%;
    }

    &::before {
      right: 0.5em;
      margin-left: -50%;
    }

    &::after {
      left: 0.5em;
      margin-right: -50%;
    }
  }

  .form-group {
    background: repeating-linear-gradient(-45deg, grey, #fff 1px, #fff 8px);
    padding-top: 69px;

    .view-display-id-block_1 {
      .view-content {
        .views-view-grid {
          .views-row {
            column-gap: 28px;

            .views-col {
              border-bottom: 1px solid;
              padding-bottom: 10px;
              background-color: white;
              box-shadow: 0 15px 26px -13px;

              .views-field-title {
                margin-top: 30px;
                display: flex;

                .field-content {
                  margin: auto;

                  a {
                    font-size: 24px;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: black;
                  }
                }
              }

              .views-field-field-term {
                display: flex;

                .field-content {
                  margin: 6px auto 20px;

                  a {
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 600;
                  }

                  a[href="/taxonomy/term/4"] {
                    color: #58cab2;
                  }

                  a[href="/taxonomy/term/2"] {
                    color: #995db1;
                  }

                  a[href="/taxonomy/term/3"] {
                    color: #e65047;
                  }

                  a[href="/taxonomy/term/1"] {
                    color: #65c0e5;
                  }
                }
              }

              .views-field-view-node {
                display: flex;

                .field-content {
                  margin: auto;
                  display: flex;
                  width: 71px;
                  height: 30px;
                  background-color: #3a3946;

                  a {
                    margin: auto;
                    text-transform: uppercase;
                    color: white;
                  }

                }
              }
            }
          }
        }
      }

      .pager-nav {
        margin: 27px auto 127px;

        .pagination {
          .pager__item {
            a {
              border-width: 0;
              color: #555555;
              background-color: rgba(0, 0, 0, 0);
            }
          }

          .is-active {
            a {
              background-color: #cecece;
              border-radius: 50%;
              border-width: 0;
              color: #555555;
            }

            a:active {
              font-weight: 700;
            }
          }


        }
      }
    }
  }
}
