.col-1 {
  .views-field-field-photo {
    img {
      width: 290px;
      height: 290px;
      filter: grayscale(100%);
    }
  }
}
.col-1:hover {
  .views-field-field-photo {
    img {
      filter: grayscale(0%);
      transition: all 0.8s ease-out;
    }
  }
}

.col-2 {
  .views-field-field-photo {
    img {
      width: 290px;
      height: 290px;
      filter: grayscale(100%);
    }
  }
}

.col-2:hover {
  .views-field-field-photo {
    img {
      filter: grayscale(0%);
      transition: all 0.8s ease-out;
    }
  }
}

.col-3 {
  .views-field-field-photo {

    img {
      width: 290px;
      height: 290px;
      filter: grayscale(100%);
    }

  }
}

.col-3:hover {
  .views-field-field-photo {
    img {
      filter: grayscale(0%);
      transition: all 0.8s ease-out;
    }
  }
}

.col-4 {
  .views-field-field-photo {
    img {
      width: 290px;
      height: 290px;
      filter: grayscale(100%);
    }
  }
}

.col-4:hover {
  .views-field-field-photo {
    img {
      filter: grayscale(0%);
      transition: all 0.8s ease-out;
    }
  }
}
.view-display-id-block_1 {
  .view-content {
    .views-view-grid {
      .views-row {
        column-gap: 28px;

        .views-col {
          .views-field-title {
            display: flex;

            .field-content {
              margin: 34px auto 0;

              a {
                text-transform: uppercase;
                color: #3a3847;
                font-size: 24px;
                text-decoration: none;
              }
            }
          }

          .views-field-body {
            .field-content {
              display: flex;

              p {
                margin: -4px auto 17px;
                color: #cfcfcf;
                font-size: 12px;
                text-transform: uppercase;
              }
            }
          }

          .views-field-view-node {
            display: flex;

            .field-content {
              margin: auto;
              background-color: #3a3847;
              width: 99px;
              height: 30px;
              display: flex;

              a {
                margin: auto;
                text-transform: uppercase;
                color: white;
                text-decoration: none;
              }
            }
          }

          .views-field-link-flag {
            display: flex;

            .field-content {
              margin: 23px 53px 0 auto;

              a {
                text-decoration: none;
              }
            }
          }

          .views-field-nothing {
            display: flex;

            .field-content {
              margin: -23px 0 0 45px;
            }
          }
        }
      }
    }
  }
}

.block-views-blockteam-block-1 {
  .block-title {
    margin: 95px auto 30px auto;
    font-size: 34px;
    font-weight: 800;
    text-transform: uppercase;
    &:before, &:after {
      background-color: grey;
      content: '';
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 28%;
    }

    &::before {
      right: 0.5em;
      margin-left: -50%;
    }

    &::after {
      left: 0.5em;
      margin-right: -50%;
    }
  }
}
